
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1; 
  background: url(../images/279553.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 10px;

  
}

.jumbotron {
  background-color: #000000;
  color: white;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding: 20px;
  opacity: .8;
  
}

.h1color {
  color: burlywood;
  font-weight: bold;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}


.row {
  border-bottom: 1px solid white;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  
  
}
.hour {
  background: transparent;
  color: #000000;
  border-bottom: 2px dashed #000000;
  font-weight: bold;
  opacity: .8;
  margin: 5px;
}

.mainRow {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 80px;
  color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color:black;
  border-radius: 15px;
  font-size: 25px;
  margin-top: 5px;
  
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}



.saveBtn {
  border-left: 1px solid white;
  border-radius: 15px;
  outline: none !important; 
  background-color: grey;
  color: white;
  opacity: .8;
  
}

.saveBtn i:hover {
  font-size: 5px;
  transition: all .3s ease-in-out;
  border: none;
  outline: none !important; 
}



